html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  image-rendering: pixelated;
}
